#map-canvas {
	display: block;
   	width: 100%;
   	height: 500px;
}

/*==========  Mobile First Method  ==========*/

    /* Custom, iPhone Retina */
    @media only screen and (min-width : 320px) {
		#map-canvas {
			display: block;
		   	width: 100%;
		   	height: 200px;
		}
    }

    /* Extra Small Devices, Phones */
    @media only screen and (min-width : 480px) {
		#map-canvas {
			display: block;
		   	width: 100%;
		   	height: 250px;
		}
    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
    	#map-canvas {
			display: block;
		   	width: 100%;
		   	height: 400px;
		}
    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
    	#map-canvas {
			display: block;
		   	width: 100%;
		   	height: 500px;
		}
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
    	#map-canvas {
			display: block;
		   	width: 100%;
		   	height: 600px;
		}
    }


